src/main/resources/wsdl/bankTransfer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.commercialbankportal.com/bankTransfer"
           xmlns="http://www.commercialbankportal.com/bankTransfer"
           elementFormDefault="qualified">

    <xs:element name="DocumentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="StatusCode" type="xs:int"/>
                <xs:element name="Message" type="xs:string"/>
                <xs:element name="BankTransferResponse">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="BulkRefNumber" type="xs:string"/>
                            <xs:element name="PaymentRefNumber" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Key" type="xs:string"/>
                                        <xs:element name="Value" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="DocumentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Header">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="CompanyRegName" type="xs:string"/>
                            <xs:element name="CompanyRegNo" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="EmployeeInfo" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="EpfNo" type="xs:string"/>
                            <xs:element name="FirstName" type="xs:string"/>
                            <xs:element name="MiddleName" type="xs:string"/>
                            <xs:element name="LastName" type="xs:string"/>
                            <xs:element name="NIC" type="xs:string"/>
                            <xs:element name="BankInfo">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="BankName" type="xs:string"/>
                                        <xs:element name="BankAccount" type="xs:string"/>
                                        <xs:element name="BankCode" type="xs:string"/>
                                        <xs:element name="BranchCode" type="xs:string"/>
                                        <xs:element name="Salary" type="xs:double"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="Footer">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="CtrlSum" type="xs:double"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>